@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(5, 103, 133);
    --second-color: rgb(236, 236, 236);
    --primary-color-dark: rgb(12, 94, 119);
}

* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background-color: var(--second-color);
    padding: 40px;
    font-size: 1.3em;
    line-height: 1.5em;
    border-radius: 7px;
}

form.form {
    margin-top: 20px;
}

form input,
form label,
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    margin-top: 30px;
    cursor: pointer;
    font-size: 24px;
    background-color: var(--primary-color);
    color: var(--second-color);
    border:none;
    height: 50px;
}
form button:hover {
    background-color: var(--primary-color-dark);
    transition: all 500ms ease-in-out;
}

.grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding-top: 50px;
    margin-bottom: 30px;
}
.grid-box h2 {
    font-size: 20px;
    margin-bottom: 8px;
}
.grid-box p {
    font-size: 18px;
}
.paragrafo-verde {
    background-color: rgb(86, 233, 142);
    padding: 10px;
}
.paragrafo-vermelho {
    background-color: rgb(212, 78, 78);
    padding: 10px;
}